
@import "lib/header.css";
@import "lib/topContent.css";
@import "lib/mainContent.css";
@import "lib/SubNavigationCardsAndSuscribe.css";
@import "lib/footer.css";

body{
    margin: 0px;
    font-size: 21px;
    color: #343434;
}
