@import "lib/headingAndNav.css";
@import "lib/Home.css";
@import "lib/infocard.css";
@import "lib/EventAndHistory.css";
@import "lib/card.css";
@import "lib/register.css";
@import "lib/footer.css";
body {
  font-family: sans-serif;
 
    color: #333;
    font-size: 19px;
      overflow-x: hidden;
}
body, html{
     margin: 0px;
}
header, #Home #Events, #History, #Register{
  overflow: hidden;
}
